# Add any directories, files, or patterns you don't want to be tracked by version control
syntax: glob

# -- Unity Generated --
Library/
Temp/
Builds/
Logs/
UserSettings/

# -- Visual Studio / MonoDevelop Generated --
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# -- OS Generated --
*.DS_Store
*.DS_Store?
._*
.Spotligh-V100
.Trashes
ehthumbs.db
Thumbs.db